# Variables

## Variable names

In [ ]:
# assign value to a variable
class_room_number = 141

In [ ]:
# This does NOT work
141 = class_room_number

In [1]:
# This will work
my_class_room_number = your_class_room_number = 141
print('My class room number is: ', my_class_room_number)
print('Your class room number is: ', your_class_room_number)

My class room number is:  141
Your class room number is:  141

In [2]:
# This will work too.
my_class_room_number, your_class_room_number = 141, 142
print('My class room number is: ', my_class_room_number)
print('Your class room number is: ', your_class_room_number)

My class room number is:  141
Your class room number is:  142

In [3]:
# using keywords for variable names is prohibited.
is = 1

SyntaxError: invalid syntax (<ipython-input-3-b71c8a07c0e2>, line 2)

In [4]:
# case sensitive
abc = 1
ABC = 2
print(abc)
print(ABC)

1
2

In [ ]:
### Good variable names
GRAVITATIONAL_ACCELERATION = 9.81
MONTHS_IN_A_YEAR = 12

initial_wind_speed = 5 # m/s
initialWindSpeed = 5
InitialWindSpeed = 5

### bad variable names
iws = 5
v = 5
nsdifhdashjdsljkfn = 5

## Variable scopes

In [14]:
# This is a global variable
a = 0

if a == 0:
    # This is still a global variable
    b = 1

def my_function(c):
    # this is a local variable
    d = 3
    print('my_function', c)
    print('my_function', a)

# Now we call the function, passing the value 7 as the first and only parameter
my_function(7)

my_function 7
my_function 0

In [15]:
# The global variables can be used in other cells too.
print('global', a)

global 0

In [16]:
# for-loop variable leaking
for i in range(3):
    print(i)
    
print('what is i:', i)

0
1
2
what is i: 2

# Data types

In [17]:
print('The type of 1e10 is ', type(1e10))

print('The type of 100 is ', type(100))

print('The type of True is ', type(True))

print('The type of "U" is ', type("U"))

The type of 1e10 is  <class 'float'>
The type of 100 is  <class 'int'>
The type of True is  <class 'bool'>
The type of "U" is  <class 'str'>

### Explicit conversion

In [18]:
print('int()  :', int(1e9), int(3.14), int(3.5), int('2'), int(True)) # int('2.3') will not work

print('float():', float(100), float("2"), float("2.3"), float(True))

print('str()  :', str(100), str(2.300), str(True))

print('bool() :', bool(100), bool("2.3"), bool(0.0), bool(0), bool("0"), bool("False")) # only int and float 0 is converted to False

int()  : 1000000000 3 3 2 1
float(): 100.0 2.0 2.3 1.0
str()  : 100 2.3 True
bool() : True True False False True True

### Implicit conversion

In [19]:
print('8.5 * 2 = ', 8.5 * 2)

print('1 + 0.1 = ', 1 + 0.1)

print('1 + "2" = ', 1 + "2")

8.5 * 2 =  17.0
1 + 0.1 =  1.1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Assignment operators

In [21]:
a = 1; b = 2.0; c = 1e3
a += 1.0 # a = a + 1
b *= 2 # b = b * 2
c /= 10 # c = c / 10

print(a, b, c)

2.0 4.0 100.0

## Derived data types

### List

In [22]:
# creation of an empty list
list1 = [] # or list1 = list()

# concatenate two lists
list1 = ['a', "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print('concatenatation:', list3)

concatenatation: ['a', 'b', 'c', 1, 2, 3]

In [23]:
# repeat a list
list_n = list1 * 3
print('repeatation:', list_n)

repeatation: ['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [24]:
# check element in a list
print("'a' in list1:", 'a' in list1)
print("'a' not in list2:", 'a' not in list2)

'a' in list1: True
'a' not in list2: True

In [25]:
# check length of a list (how many elements are in a list)
list_of_list = [[1,2,3], [4,5], 6]
print('length of list_n:', len(list_n))
print('length of list_of_list:', len(list_of_list))

length of list_n: 9
length of list_of_list: 3

In [26]:
# add an element to the end of the list
list3.append("d")
print('after append:', list3)

after append: ['a', 'b', 'c', 1, 2, 3, 'd']

In [27]:
# add an element at a specific location
list1.insert(1, 'insert')
print('after insert:', list1)

after insert: ['a', 'insert', 'b', 'c']

In [28]:
# remove the last element
list_pop = list3.pop()
print('pop:', list_pop)
print('after pop:', list3)

pop: d
after pop: ['a', 'b', 'c', 1, 2, 3]

In [29]:
# remove an element by its index
del list3[1]
print('after del:', list3)

after del: ['a', 'c', 1, 2, 3]

In [30]:
# this will also remove an element
list_n.remove('b') # only remove the first instance
print('after remove:', list_n)

after remove: ['a', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [31]:
# to locate an element in the list
print('the location of "b" in list_n is:', list_n.index('b'))

the location of "b" in list_n is: 3

In [32]:
# to reverse a list
list_n.reverse()
print('the reverse of list_n is:', list_n)

# to sort a list
list_n.sort()
print('the sorted list_n is:', list_n)

the reverse of list_n is: ['c', 'b', 'a', 'c', 'b', 'a', 'c', 'a']
the sorted list_n is: ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'c']

### Tuple

In [33]:
# Tuples occupy less memory and therefore is faster than lists

# tuples have for less methods
tuple1 = ('a', 'b', 'c')
tuple2 = (1, 2, 3)


tuple3 = tuple1 + tuple2
print('concatenatation:', tuple3)

concatenatation: ('a', 'b', 'c', 1, 2, 3)

In [34]:
# repeat a list
tuple_n = tuple1 * 3
print('repeatation:', tuple_n)

repeatation: ('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [35]:
# check element in a list
print("'a' in tuple1:", 'a' in tuple1)
print("'a' not in tuple2:", 'a' not in tuple2)

'a' in tuple1: True
'a' not in tuple2: True

In [36]:
# check length of a list (how many elements are in a list)
tuple_of_tuple = ((1,2,3), (4,5), 6)
print('length of tuple_n:', len(tuple_n))
print('length of tuple_of_tuple:', len(tuple_of_tuple))

length of tuple_n: 9
length of tuple_of_tuple: 3

In [37]:
# to locate an element in the tuple
print('the location of "b" in tuple_n is:', tuple_n.index('b'))

the location of "b" in tuple_n is: 1

In [38]:
# compare list and tuple
from sys import getsizeof
list_n = list(tuple_n)
print('sizes of list and tuple are', getsizeof(list_n), getsizeof(tuple_n))

sizes of list and tuple are 192 120

In [39]:
%timeit list1  = [1] * 10;  list2  = [2] * 3;  list3  = list1 + list2
%timeit tuple1 = (1,) * 10; tuple2 = (2,) * 3; tuple3 = tuple1 + tuple2

238 ns ± 1.22 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
69.1 ns ± 0.633 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [40]:
# Accessing the elements inside lists or tuples
list1 = [1, 2, 3, 4, 5]
# 0-based indexing
print('The first and second elements are', list1[0], list1[1])
# negative indexing
print('The last and second last elements are', list1[-1], list1[-2])
# Range indexing
print('The second to fourth elements are', list1[1:4])
print('The second to the last elements are', list1[1:])
print('The second to second last elements are', list1[1:-1])
print('The first to second last elements are', list1[:-1])
# select every second element
print('The every second elements are', list1[::2])

The first and second elements are 1 2
The last and second last elements are 5 4
The second to fourth elements are [2, 3, 4]
The second to the last elements are [2, 3, 4, 5]
The second to second last elements are [2, 3, 4]
The first to second last elements are [1, 2, 3, 4]
The every second elements are [1, 3, 5]

### Set

In [41]:
# A set is a collection which is unordered and unindexed
set1 = {1, 2, 3}
set2 = {'a', 'b', 'c', 'c'} # it will remove duplicate items during construction
print(set2)

{'b', 'a', 'c'}

In [42]:
# to join two sets
set3 = set1.union(set2)
print('after join:', set3)

after join: {1, 2, 3, 'b', 'a', 'c'}

In [43]:
# add one item
set1.add(4)
print('after adding an item:', set1)

# add more items
set2.update(('d', 'e', 'f'))
print('after adding several items:', set2)

after adding an item: {1, 2, 3, 4}
after adding several items: {'e', 'c', 'f', 'b', 'd', 'a'}

In [44]:
# remove an item
set2.remove('b')
print('after removing item b:', set2)

# other functions len() and in also work for sets

after removing item b: {'e', 'c', 'f', 'd', 'a'}

### Dictionary

In [45]:
# dictionary is unordered but indexed and mutable
dict1 = {"brand": "Ford", "model": "Mustang", "year": 1964}
dict2 = dict(brand="Chevy", model="Camaro", year=1999)
dict3 = {0:1, 1:2, 2:3}
print(dict1)
print(dict2)
print(dict3)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Chevy', 'model': 'Camaro', 'year': 1999}
{0: 1, 1: 2, 2: 3}

In [46]:
# Accessing an element
print(dict1['brand'])
print(dict2.get('model'))
print(dict3[0])

Ford
Camaro
1

In [47]:
# keys and values
print(dict1.keys())
print(dict1.values())

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])

In [48]:
# when using 'in', it is checking the keys
print("'brand' in dict1:", 'brand' in dict1)
print("'Ford' in dict1:", 'Ford' in dict1)

'brand' in dict1: True
'Ford' in dict1: False

In [49]:
# unless
print("'Ford' in dict1's values:", 'Ford' in dict1.values())

'Ford' in dict1's values: True

In [50]:
# change value
dict1['brand'] = 'VW'
print('after an item is changed:', dict1)

after an item is changed: {'brand': 'VW', 'model': 'Mustang', 'year': 1964}

In [51]:
# add an item
dict1['color'] = 'Black'
print('after an item is added:', dict1)

after an item is added: {'brand': 'VW', 'model': 'Mustang', 'year': 1964, 'color': 'Black'}

In [52]:
# remove an item by its key
brand = dict1.pop('brand')
print('pop:', brand)
print('after pop:', dict1)

pop: VW
after pop: {'model': 'Mustang', 'year': 1964, 'color': 'Black'}

### Mutable and immutable

In [53]:
# mutable object
print(list3)

list3[1] = 'mutable'

print(list3)

['a', 'c', 1, 2, 3]
['a', 'mutable', 1, 2, 3]

In [54]:
# immutable
tuple3 = tuple(list3)
print(tuple3)

tuple3[1] = 'immutable' #this won't work.

('a', 'mutable', 1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [55]:
# the variable actually is an address pointing to the object
list4 = list3
print('list3:', list3)
print('list4:', list4)

list4[1] = 'list4_changed'
print('list3 after change:', list3)
print('list4 after change:', list4)

list4 = [1, 2, 3] # a new object
print('list3 after change2:', list3)
print('list4 after change2:', list4)

list3: ['a', 'mutable', 1, 2, 3]
list4: ['a', 'mutable', 1, 2, 3]
list3 after change: ['a', 'list4_changed', 1, 2, 3]
list4 after change: ['a', 'list4_changed', 1, 2, 3]
list3 after change2: ['a', 'list4_changed', 1, 2, 3]
list4 after change2: [1, 2, 3]

In [57]:
# use copy() to make a copy of the list
list4 = list3.copy()
print('list3:', list3)
print('list4:', list4)

list4[1] = 'list5_changed'
print('list3 after change:', list3)
print('list4 after change:', list4)

list3: ['a', 'list4_changed', 1, 2, 3]
list4: ['a', 'list4_changed', 1, 2, 3]
list3 after change: ['a', 'list4_changed', 1, 2, 3]
list4 after change: ['a', 'list5_changed', 1, 2, 3]

In [58]:
# function parameter passed by value for an immutable object 
def updateList(list1):
    list1 += tuple([10])
    
n = (5, 6)
updateList(n)
print(n)

(5, 6)

In [59]:
# function parameter passed by reference for a mutable object
def updateList(list1):
    list1 += [10]
    
n = [5, 6]
updateList(n)
print(n)

[5, 6, 10]

In [60]:
# but this is a bad habit
def updateList(list1):
    result = list1 + [10]
    return result
    
n = [5, 6]
n = updateList(n)
print(n)

[5, 6, 10]

# String is special

In [61]:
# multiline string
multiline_str = '''
we are UNL
students.
'''
print(multiline_str)

multiline_str = '''
 we are UNL
students.
'''
print(multiline_str)

we are UNL
students.


 we are UNL
students.

In [62]:
# To split a long string
multiline_str = 'we are UNL ' \
'students.' # multiline_str = 'we are UNL students.'
print(multiline_str)

multiline_str = 'we are UNL ' + 'students.'
print(multiline_str)

we are UNL students.
we are UNL students.

In [63]:
# strings are arrays
str1 = "Hello, World!"
print(str1[1])
print(str1[-6:])

e
World!

In [ ]:
'Hello' == str1[:5]

In [69]:
print(str1.endswith('!'))
print(str1.endswith('World'))

True
False

In [70]:
# some useful string
print(str1.lower())
print(str1.upper())

hello, world!
HELLO, WORLD!

In [73]:
# replace
print(str1.replace("He", "Jo"))
print(str1)

Jollo, World!
Hello, World!

In [74]:
# split strings
print(str1.split())
print(str1.split(','))

['Hello,', 'World!']
['Hello', ' World!']

In [75]:
# remove leading or trailing spaces
str2 = ' s1 s2 s3\n'
print(str2)
print(str2.strip()) # removes any whitespace (including new line symbol) from the beginning or the end
print(str2.lstrip()) # removes any whitespace (including new line symbol) at the end
print(str2.rstrip()) # removes any whitespace (including new line symbol) at the end
print(str2)

 s1 s2 s3

s1 s2 s3
s1 s2 s3

 s1 s2 s3
 s1 s2 s3

In [76]:
# check substring
print('hello' in str1.lower())

True

In [77]:
# string operator
# concatenate
str2 = ' bye bye'
print(str1 + str2)

# repeat
print(str2 * 3)

Hello, World! bye bye
 bye bye bye bye bye bye

In [78]:
#print(str2 * 3.) # this wont work

# Joins the elements of an iterable to the end of the string
print(','.join(list(str1)))

H,e,l,l,o,,, ,W,o,r,l,d,!

In [81]:
two_dimension_list = [['b', 'a'],
 ['c', 'd']]

In [84]:
two_dimension_list[0][1] = 'z'

In [85]:
two_dimension_list

[['b', 'z'], ['c', 'd']]

In [88]:
two_dimension_tuple = (['b', 'a'],
 ['c', 'd'])
two_dimension_tuple[0][1] = 'z'
two_dimension_tuple

(['b', 'z'], ['c', 'd'])